.recordlist-record_id-gaia {
  position: relative;

  &:hover::before {
    display: inline-block;
    content: 'click to copy';
    color: rgba(0, 0, 0, .5);
    font-size: 13px;
    background-color: rgba(0, 0, 0, .1);
    border-top-left-radius: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 3px 10px;
  }

  &.copied::before {
    content: 'copied';
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .3);
  }

  &.nosupport::before {
    content: "browser not supported :'(";
    color: rgba(255, 255, 255, .5);
    background-color: rgba(0, 0, 0, .6);
  }
}
